<!DOCTYPE html>
<html>
<head>
    <title>Редактировать урок</title>
    <style>
        body { font-family: Arial; padding: 20px; }
        .form-group { margin-bottom: 10px; }
        label { display: inline-block; width: 120px; }
        input, select, textarea { width: 300px; padding: 5px; }
    </style>
</head>
<body>
    <h1>Редактировать урок</h1>
    <p><a href="{{ url_for('admin') }}">Назад к админке</a></p>

    <form method="post">
        <div class="form-group">
            <label>День:</label>
            <select name="day_id" required>
                {% for day in days %}
                <option value="{{ day.id }}" {% if day.id == lesson.day_id %}selected{% endif %}>{{ day.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Номер урока:</label>
            <input type="number" name="lesson_number" value="{{ lesson.lesson_number }}" min="1" max="8" required>
        </div>
        <div class="form-group">
            <label>Предмет:</label>
            <select name="subject" required>
		    <option value="Алгебра и начала математического анализа">Алгебра и начала математического анализа</option>
		    <option value="Английский язык">Английский язык</option>
		    <option value="Биология">Биология</option>
		    <option value="Вероятность и статистика">Вероятность и статистика</option>
		    <option value="География">География</option>
		    <option value="Геометрия">Геометрия</option>
		    <option value="Информатика">Информатика</option>
		    <option value="История">История</option>
		    <option value="Литература">Литература</option>
		    <option value="Обществознание">Обществознание</option>
		    <option value="Основы безопасности и защита Родины">Основы безопасности и защита Родины</option>
		    <option value="Проектная деятельность">Проектная деятельность</option>
		    <option value="Русский язык">Русский язык</option>
		    <option value="Физика">Физика</option>
		    <option value="Физическая культура">Физическая культура</option>
		    <option value="Химия">Химия</option>
            </select>
        </div>
        <div class="form-group">
            <label>Тема урока:</label>
            <input type="text" name="topic" value="{{ lesson.topic }}" required>
        </div>
        <div class="form-group">
            <label>Домашнее задание:</label>
            <textarea name="homework" rows="3">{{ lesson.homework }}</textarea>
        </div>
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>
